/*Chrome only so far*/
html::-webkit-scrollbar {
	width: 24px;
}

html::-webkit-scrollbar-track {
	background-color: darkgrey;
	box-shadow: inset 2px 2px 6px rgba(0, 0, 0, 0.4);
}
html::-webkit-scrollbar-track:hover {
	box-shadow: inset 2px 2px 6px rgba(0, 0, 0, 0.6);
}

html::-webkit-scrollbar-thumb {
	background-color: grey;
	box-shadow: inset 2px 2px 6px rgba(0, 0, 0, 0.4);
	border-radius: 8px;
}

html::-webkit-scrollbar-thumb:active {
	box-shadow: inset 2px 2px 6px rgba(0, 0, 0, 0.8);
}

html::-webkit-scrollbar-button,
html::-webkit-scrollbar-corner,
html::-webkit-resizer {
	display: none;
}

#file_manager {
	margin: 10px 10px 10px 10px;
}

[draggable] {
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

.image_manage_main {
	display: inline-block;

	width: 150px;
	height: 150px;

	margin: 0px 1px 10px 14px;

	border: 1px solid black;
	overflow: hidden;
	background: no-repeat;
	background-position: center;

	overflow: visible;
}

.image_manage_top, .image_manage_bottom {
	background-color: rgba(0, 0, 0, 0.4);
	color: white;
	text-align: left;
	padding-right: 5px;
	padding-left: 4px;
	cursor: move;

	transition: background-color 0.2s ease;
	-webkit-transition: background-color 0.2s ease;
	-moz-transition: background-color 0.2s ease;
	-o-transition: background-color 0.2s ease;
}

.image_manage_top {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.image_manage_bottom {
	overflow: visible;
}

.image_manage_bottom > span {
	float: right;
}

.image_manage_bottom > span > a:hover, .image_manage_bottom > span > div > a:hover {
	text-decoration: none;
}

.image_manage_main > a {
	display: block;
	width: 150px;
	height: 110px;
}

.image_manage_main:hover > div {
	background-color: rgba(0, 0, 0, 0.7);
}

#filter-form {
	display: inline;
	margin-left: 450px;
}

#file-refresh {
	display: inline;
}

.image_manage_ul {
	margin-top: 20px;
	list-style: none;
}

body {
	padding-top: 40px;
	padding-bottom: 40px;
}

.prettyprint {
	text-align: left;
}

.advert {
	background-image: url('../img/abon.png');
	background-position: center;
	background-repeat: no-repeat;
	min-height: 90px;
	min-width: 768px;
}

.badge-level {
	position: relative;
	top: -1px;
	padding-top: 2px;
}

.navbar .nav > li > a {
-webkit-transition: border-color linear .2s;
-moz-transition: border-color linear .2s;
-o-transition: border-color linear .2s;
transition: border-color linear .2s;
}

.navbar-fixed-bottom .nav li a {
	border-top: 3px solid transparent;
	padding-top: 10px;
}

#uploader {
	border: 2px solid #bbb;
	border-radius: 7px;
	font-weight: bold;
	text-align: center;
	color: #555;
	padding: 1em 0;
	transition: border-color 1s, color 1s;
	-moz-transition: border-color 1s, color 1s;
	-webkit-transition: border-color 1s, color 1s;
	-o-transition: border-color 1s, color 1s;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
	background-color: #111 !important;
}

input:invalid {
	-webkit-box-shadow: 0 0 15px red !important;
	-moz-box-shadow: 0 0 15px red !important;
	box-shadow: 0 0 15px red !important;

	border-color: red !important;
}


input[type="submit"] {
	transition: width 0.6s ease, box-shadow 0.6s ease;
	-webkit-transition: width 0.6s ease, box-shadow 0.6s ease;
	-moz-transition: width 0.6s ease, box-shadow 0.6s ease;
	-o-transition: width 0.6s ease, box-shadow 0.6s ease;
}

#recycle_bin {
	background-image: url("../img/recycle_bin.png");
	width: 256px;
	height: 256px;
	position: fixed;
	right: 10px;
	bottom: 50px;
	transition: opacity .5s ease;
	-webkit-transition: opacity .5s ease;
	-moz-transition: opacity .5s ease;
	-o-transition: opacity .5s ease;
	opacity: 0.05;
	z-index: 200;
}

.image_manage_main > .image_manage_bottom > span > .dropdown {
	display: inline;
}

.image_manage_main > .image_manage_bottom > span > .dropdown > .dropdown-menu > .dropdown-submenu > .dropdown-menu {
	min-width: 40px;
}

#main-container {
	-moz-transition: opacity 0.1s ease;
	-webkit-transition: opacity 0.1s ease;
	-o-transition: opacity 0.1s ease;
	transition: opacity 0.1s ease;
}

#head-util-container {
	text-align: center;
	padding: 20px;
	padding-bottom: 40px;
	min-height: 400px;
}

#preview-wrapper {
	text-align: center;
	padding: 10px 0 0 0;
}

#livedraw {
	background-repeat: no-repeat;
	background-size: contain;
}

.btn {
	transition: box-shadow 0.2s linear;
	-moz-transition: box-shadow 0.2s linear;
	-webkit-transition: box-shadow 0.2s linear;
	-o-transition: box-shadow 0.2s linear;
}

#pdf-view {
	min-width: 400px;
	width: 100%;
	min-height: 600px;
	height: 100%;
	border: 3px solid;
	box-sizing: border-box;
}

#live-draw-options > fieldset {
	display: inline;
	vertical-align: text-top;
}

#color-selector, #saturisation-selector, #opacity-selector {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	height: 150px;
	display: inline-block;
	outline: 3px solid black;
}

#color-selector {
	width: 250px;

	background-image:	-webkit-linear-gradient(top, black, transparent, white),
						-webkit-linear-gradient(left, #F00, #FF0, #0F0, #0FF, #00F, #F0F, #F00);
}

#color-selector-inner {
	position: relative;
	left: 100px;
	top: 0px;
	width: 10px;
	height: 10px;
	display: block;
	pointer-events: none;
}

#saturisation-selector {
	width: 20px;
	background-image: -webkit-linear-gradient(top, hsl(0, 100%, 50%), transparent);
}

#opacity-selector {
	width: 20px;
	background-image: -webkit-linear-gradient(top, hsl(0, 100%, 50%), transparent);
}

#saturisation-selector-inner, #opacity-selector-inner {
	width: 20px;
	height: 1px;
	background-color: black;
	position: relative;
	pointer-events: none;
}
