services:
  site:
    build: .
    image: git.foxden.network/foxcaves/foxcaves
    restart: unless-stopped
    sysctls:
      - net.ipv6.conf.all.disable_ipv6=1
    links:
      - mysql:mysql
      - redis:redis
    volumes:
      - ./config:/etc/foxcaves
      - ./data/storage:/var/lib/foxcaves/storage
      - mysqlsock:/var/run/mysqld
    healthcheck:
      test: 'curl -s -f --resolve "app.foxcaves:443:127.0.0.1" --insecure "https://app.foxcaves/healthz" >/dev/null || exit 1'
      interval: 60s
      timeout: 10s
    ports:
      - 8080:80
  redis:
    image: redis:alpine
    restart: unless-stopped
    sysctls:
      - net.ipv6.conf.all.disable_ipv6=1
    volumes:
      - ./data/redis:/data
    healthcheck:
      test: redis-cli PING
      interval: 60s
      timeout: 10s
  mysql:
    image: mariadb:latest
    restart: unless-stopped
    sysctls:
      - net.ipv6.conf.all.disable_ipv6=1
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: foxcaves
      MYSQL_USER: foxcaves
    volumes:
      - ./data/mysql:/var/lib/mysql
      - mysqlsock:/var/run/mysqld

volumes:
  mysqlsock: {}
