<%# MAINTITLE = "Files" %>
<%+ _includes/head.html %>
	<div class="progress" style="top: 10px; margin-right: 10px;">
		<div class="bar bar-success" style="width: 100%;"></div>
		<div class="bar bar-danger" id="storage_used_bar" style="width: 0%;"></div>
		<div style="float: left; position: relative; width: 100%; text-align: center; color: white;">
			<span id="storage_used_text">?</span> / <span id="storage_quota_text">?</span>
		</div>
	</div>

	<br />

	<div id="uploader"></div>

	<br />

	<h2 id="file-refresh"><%= MAINTITLE %> (<a class="pointer" onclick="return refreshFiles();">Refresh</a>)</h2>
	<form id="filter-form" style="display:none;margin-top:10px;" class="form-search">
		<input id="name-filter" type="text" placeholder="filter" class="input-medium search-query">
	</form>

	<br />

	<ul id="file_manager"></ul>

	<div style="display: none;" id="recycle_bin"></div>

	<script type="text/javascript" src="/static/js/files.js"></script>
<%+ _includes/foot.html %>
