.file-card {
    width: 10rem;
}
.file-card .card-header {
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.file-card .card-img-top {
    background: url('./nothumb.gif') no-repeat center center;
    background-size: cover;
}
