		</div>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/js/bootstrap.min.js" type="text/javascript" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.min.js" type="text/javascript" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/prettify/r298/lang-lua.min.js" type="text/javascript" crossorigin="anonymous"></script>
		<script src="/static/js/main.js<%= STATIC_QUERY %>" type="text/javascript"></script>
	</body>
</html>
