<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/bootstrap-progressbar.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/main.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/purple_fox.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/prettify.css" />

		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" type="text/javascript" crossorigin="anonymous"></script>
		<script src="https://browser.sentry-cdn.com/6.11.0/bundle.min.js" integrity="sha384-c+8PXtRnYfCKsSEvgtDqFeJvhjltkNLIUB1vcWKW4EleABoS4jh87UrE+1nQXg+g" crossorigin="anonymous"></script>
		<script type="text/javascript" src="/api/v1/config/client.js?frontend_release=<%= REVISION %>"></script>
		<script src="/static/js/init.js" type="text/javascript"></script>
		<title><%= MAINTITLE %> - foxCaves</title>
	</head>
	<body data-spy="scroll" data-target=".bs-docs-sidebar">
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand" href="/">foxCaves</a>
					<div class="nav-collapse">
						<ul class="nav" id="nav-main">
							<li data-menu-id="1" class="show_loginonly"><a href="/files">Files</a></li>
							<li data-menu-id="2" class="show_loginonly"><a href="/links">Links</a></li>
							<li data-menu-id="3" class="show_guestonly"><a href="/login">Login</a></li>
							<li data-menu-id="4" class="show_guestonly"><a href="/register">Register</a></li>
						</ul>
						<ul class="nav pull-right">
							<li class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown">Welcome, <span id="username_text">User</span> <b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li class="show_loginonly"><a href="/account">Account</a></li>
									<li class="show_loginonly divider"></li>
									<li class="show_loginonly"><a class="pointer" onclick="doLogout();">Logout</a></li>
									<li class="show_guestonly"><a href="/login">Login</a></li>
									<li class="show_guestonly"><a href="/register">Register</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="container" id="main-container">
			<br />
