name: Test/Build
concurrency:
  group: testbuild-${{ github.ref }}
  cancel-in-progress: true
on:
  push:
    branches:
      - main
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
  merge_group: {}
  workflow_call: {}
jobs:
  lint:
    uses: ./.github/workflows/lint.yml
    secrets: inherit
  docker:
    runs-on: ubuntu-latest
    needs: [lint]
    permissions:
      packages: write
      contents: read
    steps:
      - name: Check out the repo
        uses: actions/checkout@v5
      # Setup Docker
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3
      - name: Log in to GitHub Docker Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      # Setup build cache
      - name: Cache Docker layers
        uses: actions/cache@v4
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-single-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-single-buildx
      - name: Ensure we are up to date on all images
        run: docker pull node:lts-alpine && docker pull openresty/openresty:alpine-fat
      - name: Build container image
        uses: docker/build-push-action@v6
        with:
          push: false
          load: true
          builder: ${{ steps.buildx.outputs.name }}
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,mode=max,dest=/tmp/.buildx-cache-new
          build-args: |
            GIT_REVISION=${{ github.sha }}
          tags: |
            ghcr.io/foxcaves/foxcaves/foxcaves:latest
            ghcr.io/foxcaves/foxcaves/foxcaves:pr-${{ github.event.number || 'unknown' }}
      - name: Push PR dev Docker image
        run: docker push ghcr.io/foxcaves/foxcaves/foxcaves:pr-${{ github.event.number || 'unknown' }}
        if: github.event_name == 'pull_request'
      # Run tests
      - name: Add to hostsfile
        run: sudo bash -c "echo '127.0.0.1 app.foxcaves cdn.foxcaves' >> /etc/hosts"
      - name: Run test container
        run: docker compose -f docker-compose.yml -f docker-compose.testing.yml up -d --remove-orphans
      - name: Run some basic tests
        run: |
          set -ex
          HTTP_GET='curl -XGET -m 5 -s -f'
          timeout 30s bash -c "until $HTTP_GET http://app.foxcaves:8080/api/v1/system/health; do sleep 1; done" || true
          $HTTP_GET -I http://app.foxcaves:8080/files
          $HTTP_GET -I http://app.foxcaves:8080/api/v1/system/info
          [ "$($HTTP_GET http://app.foxcaves:8080/api/v1/system/info | jq -r .release)" == "${{ github.sha }}" ]
      - name: Prepare tests
        working-directory: ./frontend
        run: npm ci && npx playwright install chromium --with-deps
      - name: Run tests
        working-directory: ./frontend
        run: |
          export GIT_REVISION=${{ github.sha }}
          npm test
      - name: Test container teardown
        if: always()
        run: |
          docker compose -f docker-compose.yml -f docker-compose.testing.yml logs
          docker compose -f docker-compose.yml -f docker-compose.testing.yml down
      - name: Test results upload
        uses: actions/upload-artifact@v5
        if: always()
        with:
          name: playwright-test-results
          path: frontend/test-results/
      - name: Push production Docker image
        run: docker push ghcr.io/foxcaves/foxcaves/foxcaves:latest
        if: github.ref == 'refs/heads/main'
      # https://github.com/docker/build-push-action/issues/252 (prevent cache from growing indefinitely)
      - name: Move cache
        run: |
          rm -rf /tmp/.buildx-cache
          mv /tmp/.buildx-cache-new /tmp/.buildx-cache
